.activities_container {
  width: 75%;
  margin: 30px auto;
}

.activities_wrapper {
  display: flex;
  flex-direction: column;
}

.activities_content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.activities_content ul {
  list-style-type: none;
  padding: 0;
}

.activities_content ul li {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  font-size: 20px;
  color: #666;
}

.activities_content ul li img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.activities_image {
  width: 100%;
}

.activities_headlines {
  text-align: center;
}

.activities_headlines h2 {
  font-size: 48px;
  margin-bottom: 25px;
  font-weight: 300;
}

.activities_headlines p {
  color: #666;
  font-size: 18px;
  line-height: 2;
}

@media (min-width: 756px) {
  .activities_wrapper {
    flex-direction: row;
  }
  .activities_content {
    width: 66%;
  }
  .activities_image {
    width: 33%;
  }
  .activities_content {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
  }
  .activities_content ul {
    width: 50%;
  }
}
