.activities_shortcode_section {
  display: flex;
  flex-direction: column;
  .activities_shortcode_container {
    width: 100%;
    h2 {
      margin: 0 0 15px 0;
      text-align: center;
      color: #000;
      font-size: 48px;
    }

    h4 {
      color: #666;
      font-size: 18px;
      line-height: 2;
      text-align: center;
      margin: 0 0 15px;
    }

    .activities_shortcode_list_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      .activities_shortcode_list_container {
        width: 100%;
        ul {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0;
          li {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 15px;
            img {
              width: 25px;
              height: 25px;
              margin-right: 15px;
            }
          }
        }
      }
      .activities_shortcode_list_image_container {
        width: 100%;
        display: none;
      }
    }
  }
}

@media (min-width: 450px) {
  .activities_shortcode_section {
    .activities_shortcode_container {
      .activities_shortcode_list_wrapper {
        .activities_shortcode_list_container {
          ul {
            li {
              width: 50%;
            }
          }
        }
        .activities_shortcode_list_image_container {
          width: 33%;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .activities_shortcode_section {
    .activities_shortcode_container {
      max-width: 1250px;
      margin-left: auto;
      margin-right: auto;
      .activities_shortcode_list_wrapper {
        flex-direction: row;
        .activities_shortcode_list_container {
          width: 66%;
          ul {
          }
        }
        .activities_shortcode_list_image_container {
          width: 33%;
          display: flex;
        }
      }
    }
  }
}
