.amenities_section {
  .amenities_container {
    .amenities_headlines {
      text-align: center;
      width: 85%;
      margin: 0 auto 15px auto;
      h2 {
        font-size: 40px;
        font-weight: 300;
      }
    }

    img {
      margin: 0 auto;
    }
  }
}
